version: "3.9"

networks:
  jenkins:

volumes:
  jenkins-docker-certs:
  jenkins-data:

services:
  docker:
    image: docker:23-dind
    container_name: jenkins-docker
    privileged: true
    user: root
    ports:
      - 2376:2376
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home

    command: --storage-driver=overlay2 # https://stackoverflow.com/a/46200820

  jenkins:
    image: myjenkins-blueocean:2.401.2-1
    container_name: jenkins-blueocean
    restart: on-failure
    ports:
      - 8080:8080
      - 50000:50000
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
    volumes:
      - jenkins-docker-certs:/certs/client:ro
      - jenkins-data:/var/jenkins_home
    depends_on:
      - docker
